html{
    font-size: 1em;
    font-family: 'Roboto Slab', serif;
    background-color: black ;
    color: white;
}

body{
    width: auto;
    margin: 0;
    border: 0;
    padding: 20px 0 40px 50px;
}

header{
    box-shadow: 0 5px 0 red;
}

.affiche-films{
    float: left;
}

.titre-categorie{
    clear: left;
}

h2{
    font-size: 1.5em;
}

a{
    text-decoration: none;
    color: white;
}